<div class="card bg-dark text-white">
    <img class="card-img" src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeFzkShOyMneuIL65WhSavXxXVepZOM4M3iA&usqp=CAU' style='height:300px'alt="Card image">
    <div class="card-img-overlay">
      <h2 class="card-title">Mobi$tore</h2>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">Last updated 3 mins ago</p>
      <div class="row" style=" margin: auto;
      width: 50%;
      color:white;
      padding: 10px;">
        <div class="column">
      <div class="collapsed-content" >
        <ul>
          <li><a href="/about"style="color:white;">About Us</a></li>
          <li><a href="/contact"style="color:white;">Contact Us</a></li>
          <li><a href="typography.html" style="color:white;">Terms & Conditions</a></li>
          <li><a href="typography.html"style="color:white;">Returns & Exchanges</a></li>
          <li><a href="typography.html"style="color:white;">Shipping & Delivery</a></li>
        </ul>
      </div>
    </div>
    <div class="column">
      <div class="collapsed-content">
        <ul>
          <li><a href="account-details.html" style="color:white;">My Account</a></li>
          <li><a href="cart.html"style="color:white;">View Cart</a></li>
          <li><a href="account-wishlist.html"style="color:white;">My Wishlist</a></li>
          <li><a href="account-history.html" style="color:white;">Order Status</a></li>
          <li><a href="account-history.html"style="color:white;">Track My Order</a></li>
        </ul>
      </div>
    </div>
    <div class="column">
        <div class="collapsed-content">
          <ul>
            <li><a href="account-details.html" style="color:white;">My Account</a></li>
            <li><a href="cart.html"style="color:white;">View Cart</a></li>
            <li><a href="account-wishlist.html"style="color:white;">My Wishlist</a></li>
            <li><a href="account-history.html" style="color:white;">Order Status</a></li>
            <li><a href="account-history.html"style="color:white;">Track My Order</a></li>
          </ul>
        </div>
      </div>
</div>

    </div>
    </div>
    <div class="footer-bottom footer-bottom--bg">
    
        <div class="footer-copyright text-center" style="background-color:grey;">
          <a href="https://github.com/vikas05kushwaha" style='color:white;'>Mobi$tore ©2020 copyright All rights reserved to Mobi$tore created by  VIkas Kushwaha</a>
        
      </div>
    </div>
  </div>